<div>
  {% assign data = site.data[page.infoGraph] %}
  <div class="container mx-auto">
    <!-- Navigation Tabs -->
    <div class="bg-gray-800 text-white p-3 rounded-lg shadow-md mb-4">
      <div class="flex justify-center flex-wrap gap-2">
        {% for topic in data.Topics %}
          <a href="{{ topic.link }}" class="px-2 py-1 bg-gray-700 text-sm text-white font-medium rounded-md hover:bg-gray-600 transition duration-200" aria-label="Jump to {{ topic.title }}">
            {{ topic.title }}
          </a>
        {% endfor %}
      </div>
    </div>

    <!-- Header Section -->
    <div class="bg-gray-700 p-4 rounded-lg shadow-md text-center mb-4">
      <h1 class="text-3xl font-bold text-white mb-2">{{ data.Title }}</h1>
      <p class="text-sm text-gray-300">{{ data.Description }}</p>
    </div>

    <!-- Rows Section -->
    <div id="rows" class="grid gap-4 p-4">
      {% for topic in data.Topics %}
        <div class="grid grid-cols-3 gap-4 items-center p-3 rounded-lg shadow-md">
          <!-- Image Column -->
          {% if topic.image %}
            <div class="text-center">
              <a href="{{ site.baseurl }}{{ topic.link }}">
                <img src="{{ site.baseurl }}/images/{{ topic.image }}" alt="{{ topic.alt | default: topic.title }}" class="rounded-lg mx-auto h-32 object-cover">
              </a>
            </div>
            <!-- Key Points and Description Columns -->
            <div>
              <h3 class="text-lg font-semibold mb-1 text-gray-100">{{ topic.title }}</h3>
              <ul class="list-disc list-inside text-sm text-gray-300">
                {% for point in topic.keyPoints %}
                  <li>{{ point }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h3 class="text-lg font-semibold mb-1 text-gray-100">{{ topic.subtitle }}</h3>
              <p class="text-sm text-gray-300">{{ topic.description }}</p>
            </div>
          {% else %}
            <!-- If no image, adjust layout -->
            <div class="col-span-3 grid grid-cols-2 gap-4">
              <div>
                <h3 class="text-lg font-semibold mb-1 text-gray-100">{{ topic.title }}</h3>
                <h3 class="text-lg font-semibold mb-1 text-gray-100">{{ topic.subtitle }}</h3>
                <p class="text-sm text-gray-300">{{ topic.description }}</p>
              </div>
              <div>
                <ul class="list-disc list-inside text-sm text-gray-300">
                  {% for point in topic.keyPoints %}
                    <li>{{ point }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>